<!DOCTYPE html>
<html>
  <head>
    {%- block head -%}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css/normalize.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
    <title>Blog - {% block title %}{{ title | default(value="mclement.dev") }}{% endblock title %}</title>
    {%- endblock head -%}
  </head>
  <body>
    <div id="nav">
      <span>
        <a href="/">home</a> ::
        <a href="/about">contact</a> ::
        <a href="http://gitlab.com/mattclement">gitlab</a> ::
        <a href="http://github.com/mattclement">github</a>
      </span>
    </div>
    <div id="content">
    {%- block content -%}
    {%- endblock content -%}
    </div>
  </body>
</html>
